<nav
  class="navbar navbar-expand-lg navbar-light bg-light"
  style="filter: drop-shadow(0 0 0.15rem black)"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="/admin">
      <img
        src="https://raw.githubusercontent.com/lineroml/imgs_sabiduria/main/mini.png"
        alt="logo sabiduria"
        width="110px"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div>
       <a href="/logout" class="btn btn-primary">Cerrar sesión</a>
    </div>
  </div>
</nav>