<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../partials/head'); %>
</head>
<body>

<header>
  <%- include('../../partials/header'); %>
</header>

<main>
    <div class="container" style="padding-top: 20px; max-width: 500px;">
      <form action="../docentes" method="POST" enctype="application/x-www-form-urlencoded">
        <div class="mb-3">
          <label for="nombre" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="nombre" name="nombre">

          <label style="margin-top:30px" for="nombre" class="form-label">Programa</label>
          <div class="form-group">

            <select class="form-control" id="id_departamento" name="id_departamento">

              
              <% departamentos.forEach(departamento=> {%>

                <option value='<%= departamento.id %>'><%= departamento.nombre %></option>
                <% })%>

            </select>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
      </form>
    </div>
</main>
</body>
</html>