<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../partials/head'); %>
</head>
<body>

<header>
  <%- include('../../partials/header'); %>
</header>

<main>
    <div class="container" style="padding-top: 20px; max-width: 500px;">
      <form action="../docentes" method="POST" enctype="application/x-www-form-urlencoded">
        <div class="mb-3">
          <div class="form-group">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre">
          </div>
          
          <div class="form-group">
            <label for="usuario" class="form-label">Usuario</label>
            <input type="text" class="form-control" id="usuario" name="usuario">
          </div>
            
          <div class="form-group">
            <label for="contrasena" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="contrasena" name="contrasena">
          </div>

            <label for="nombre" class="form-label">Programa</label>
            <select class="form-control" id="id_departamento" name="id_departamento">
              <% departamentos.forEach(departamento=> {%>
                <option value='<%= departamento.id %>'><%= departamento.nombre %></option>
              <% })%>
            </select>

          
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
      </form>
    </div>
</main>
</body>
</html>