<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body>

<header>
  <%- include('../partials/header'); %>
</header>

<main>
    <div class="container">

        <div class="row justify-content-around align-items-center" style="padding-top: 20px">
            <div class="card col-4" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Departamentos</h5>
                  <p class="card-text">Hecha un vistazo a la lista de  Departamentos en nuestro sistema</p>
                  <a href="/departamentos" class="card-link">Lista de Departamentos</a>
                </div>
            </div>
        
            <div class="card col-4" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Docentes</h5>
                  <p class="card-text">Revisar los docentes</p>
                  <a href="/docentes" class="card-link">Lista de docentes</a>
                </div>
            </div>
        </div>

        <div class="row justify-content-around" style="padding-top: 20px">
            <div class="card col-4" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Asignaturas</h5>
                  <p class="card-text">Revisar las asignaturas</p>
                  <a href="/asignaturas" class="card-link">Lista de asignaturas</a>
                </div>
            </div>
        
            <div class="card col-4" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Programas Academicos</h5>
                  <p class="card-text">Revisar los programas academicos</p>
                  <a href="/programas" class="card-link">Lista de programas</a>
                </div>
            </div>
        </div>





        
        <div class="row justify-content-around" style="padding-top: 20px">
          <div class="card col-4" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Planes de Estudio</h5>
                <p class="card-text">Revisar los planes de estudio</p>
                <a href="/planestudios" class="card-link">Lista de planes</a>
              </div>
          </div>
      
          <div class="card col-4" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Estudiantes</h5>
                <p class="card-text">Revisar los estudiantes</p>
                <a href="/estudiantes" class="card-link">Lista de estudiantes</a>
              </div>
          </div>
      </div>


      <div class="row justify-content-around" style="padding-top: 20px">
        <div class="card col-4" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Periodos</h5>
              <p class="card-text">Revisar los periodos</p>
              <a href="/periodos" class="card-link">Lista de periodos</a>
            </div>
        </div>
    
        <div class="card col-4" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Cursos</h5>
              <p class="card-text">Revisar los cursos</p>
              <a href="/cursos" class="card-link">Lista de cursos</a>
            </div>
        </div>
    </div>



    <div class="row justify-content-around" style="padding-top: 20px">
      <div class="card col-4" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Salones</h5>
            <p class="card-text">Revisar los salones</p>
            <a href="/salones" class="card-link">Lista de salones</a>
          </div>
      </div>
  
      <div class="card col-4" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">xxxxxxxx</h5>
            <p class="card-text">xxxxxxxxx</p>
            <a href="/admin" class="card-link">xxxxxxxxxxx</a>
          </div>
      </div>
  </div>
    </div>
</main>

</body>
</html>