<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body
    style="
      background-image: url(https://raw.githubusercontent.com/lineroml/imgs_sabiduria/main/bg-admin.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    "
  >
    <header><%- include('../partials/header'); %></header>
    <main>
      <div
        class="container"
        style="
          height: 100%;
          background-color: white;
          padding: 20px;
          border-radius: 10px;
          margin-top: 10px;
          box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        "
      >
        <div style="display: flex; align-items: center">
          <img
            src="https://raw.githubusercontent.com/lineroml/imgs_sabiduria/main/admin.png"
            alt="logo student"
            style="align-self: center; margin-bottom: 20px; margin-right: 20px"
            id="logo"
          />
          <h1 style="margin-top: 20px">!Bienvenido, administrador!</h1>
        </div>
        <div
          class="row justify-content-around align-items"
          style="
            padding-top: 20px;
            width: 100%;
            display: flex;
            flex-wrap: nowrap;
            margin: 0;
            gap: 10px;
          "
        >
          <div class="card col-4" style="width: 18rem">
            <div class="card-body" style="display: flex; flex-direction: column">
              <img
                src="https://raw.githubusercontent.com/lineroml/imgs_sabiduria/main/department.png"
                alt="logo dpto"
                style="align-self: center; margin-bottom: 20px"
              />
              <h5 class="card-title">Departamentos</h5>
              <p class="card-text">
                Hecha un vistazo a la lista de Departamentos en nuestro sistema
              </p>
              <a href="/departamentos" class="card-link">Lista de Departamentos</a>
            </div>
          </div>
          <div class="card col-4" style="width: 18rem">
            <div class="card-body" style="display: flex; flex-direction: column">
              <img
                src="https://raw.githubusercontent.com/lineroml/imgs_sabiduria/main/teacher.png"
                alt="logo dpto"
                style="align-self: center; margin-bottom: 20px"
              />
              <h5 class="card-title">Docentes</h5>
              <p class="card-text">Revisar los docentes</p>
              <a href="/docentes" class="card-link">Lista de docentes</a>
            </div>
          </div>
          <div class="card col-4" style="width: 18rem">
            <div class="card-body" style="display: flex; flex-direction: column">
              <img
                src="https://raw.githubusercontent.com/lineroml/imgs_sabiduria/main/libros.png"
                alt="logo dpto"
                style="align-self: center; margin-bottom: 20px"
              />
              <h5 class="card-title">Asignaturas</h5>
              <p class="card-text">Revisar las asignaturas</p>
              <a href="/asignaturas" class="card-link">Lista de asignaturas</a>
            </div>
          </div>
        </div>

        <div
          class="row justify-content-around"
          style="
            padding-top: 20px;
            width: 100%;
            display: flex;
            flex-wrap: nowrap;
            margin: 0;
            gap: 10px;
          "
        >
          <div class="card col-4" style="width: 18rem">
            <div class="card-body" style="display: flex; flex-direction: column">
              <img
                src="https://raw.githubusercontent.com/lineroml/imgs_sabiduria/main/education.png"
                alt="logo dpto"
                style="align-self: center; margin-bottom: 20px"
              />
              <h5 class="card-title">Programas Académicos</h5>
              <p class="card-text">Revisar los programas academicos</p>
              <a href="/programas" class="card-link">Lista de programas</a>
            </div>
          </div>

          <div class="card col-4" style="width: 18rem">
            <div class="card-body" style="display: flex; flex-direction: column">
              <img
                src="https://raw.githubusercontent.com/lineroml/imgs_sabiduria/main/students.png"
                alt="logo dpto"
                style="align-self: center; margin-bottom: 20px"
              />
              <h5 class="card-title">Estudiantes</h5>
              <p class="card-text">Revisar los estudiantes</p>
              <a href="/estudiantes" class="card-link">Lista de estudiantes</a>
            </div>
          </div>
          <div class="card col-4" style="width: 18rem">
            <div class="card-body" style="display: flex; flex-direction: column">
              <img
                src="https://raw.githubusercontent.com/lineroml/imgs_sabiduria/main/calendar.png"
                alt="logo dpto"
                style="align-self: center; margin-bottom: 20px"
              />
              <h5 class="card-title">Periodos</h5>
              <p class="card-text">Revisar los periodos</p>
              <a href="/periodos" class="card-link">Lista de periodos</a>
            </div>
          </div>
        </div>

        <div
          class="row"
          style="
            padding-top: 20px;
            width: 100%;
            display: flex;
            flex-wrap: nowrap;
            margin: 0;
            gap: 10px;
            margin-left: -10px;
          "
        >
          <div class="card col-4" style="width: 18rem">
            <div class="card-body" style="display: flex; flex-direction: column">
              <img
                src="https://raw.githubusercontent.com/lineroml/imgs_sabiduria/main/online-course.png"
                alt="logo dpto"
                style="align-self: center; margin-bottom: 20px"
              />
              <h5 class="card-title">Cursos</h5>
              <p class="card-text">Revisar los cursos</p>
              <a href="/cursos" class="card-link">Lista de cursos</a>
            </div>
          </div>
          <div class="card col-4" style="width: 18rem">
            <div class="card-body" style="display: flex; flex-direction: column">
              <img
                src="https://raw.githubusercontent.com/lineroml/imgs_sabiduria/main/classroom.png"
                alt="logo dpto"
                style="align-self: center; margin-bottom: 20px"
              />
              <h5 class="card-title">Salones</h5>
              <p class="card-text">Revisar los salones</p>
              <a href="/salones" class="card-link">Lista de salones</a>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
